[submodule "app/src/main/cpp/bionic-fg"]
	path = app/src/main/cpp/bionic-fg
	url = https://github.com/xXJSONDeruloXx/bionic-fg.git
[submodule "app/src/main/cpp/vkbasalt"]
	path = app/src/main/cpp/vkbasalt
	url = https://github.com/DadSchoorse/vkBasalt.git
